.filter {
  margin: 5px;
  padding: 5px;
  font-size: 18px;
  border: none;
  background-color: rgb(221, 203, 203);
  transition: background-color 0.5s ease-in-out;
  flex-grow: 1;
}

.filter:hover {
  background-color: rgb(147, 135, 135);
}
