.book_wrapper {
  margin: 5px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  border: 3px solid rgb(131, 115, 115);
  color: white;
  flex: 0 1 30.6%;
}

@media (max-width: 1110px) {
  .book_wrapper {
    flex: 0 1 30.4%;
    flex-wrap: wrap;
  }
}

@media (max-width: 1036px) {
  .book_wrapper {
    flex: 1 1 30.4%;
  }
}

.favorites {
  align-self: flex-end;
  font-size: 26px;
  color: rgb(131, 115, 115);
  cursor: pointer;
  transition: transform 0.3s;
}

.favorites:hover {
  transform: scale(1.3);
}

.book_cover {
  width: 200px;
  height: 300px;
  object-fit: fill;
  align-self: center;
  border: 1px solid black;
  cursor: pointer;
}

.info_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.busket {
  background-color: rgb(131, 115, 115);
  border: none;
  width: 40px;
  font-size: 12px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 5px;
  align-self: end;
}

.busket_active {
  border: none;
  width: 40px;
  font-size: 12px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 5px;
  align-self: end;
  background-color: rgb(198, 191, 191);
}

.busket_active:hover {
  transform: scale(1.1);
}

.busket:hover {
  transform: scale(1.1);
}
