.modal_container {
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 620px;
  background-color: rgba(28, 28, 33, 1);
  border-radius: 40px;
  z-index: 1000;
}

@media (max-width: 820px) {
  .modal_container {
    width: 320px;
  }
}

.children {
  margin-left: 60px;
  flex-grow: 1;
}

.close_btn {
  margin-top: 20px;
  margin-right: 30px;
  cursor: pointer;
  font-size: 14px;
  background: none;
  border: none;
  color: rgb(149, 145, 145);
}
